@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Book";
    src: url("../public/fonts/Avenir-Book.otf") format("otf");
  }

  @font-face {
    font-family: "Roman";
    src: url("../public/fonts/Avenir-Roman.otf") format("otf");
  }

  @font-face {
    font-family: "Medium";
    src: url("../public/fonts/Avenir-Medium.otf") format("otf");
  }
}
