@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Font size: 48px */
  h1 {
    @apply text-5xl;
  }

  /* Font size: 32px */
  h2 {
    @apply text-[32px];
  }

  /* Font-size: 20px */
  h3 {
    @apply text-xl;
  }
}

@font-face {
  font-family: AvenirBook;
  src: local("Avenir-Book") url("/fonts/Avenir-Book.otf") format("otf");
}

@font-face {
  font-family: AvenirRoman;
  src: local("Avenir-Roman") url("/fonts/Avenir-Roman.otf") format("otf");
}

@font-face {
  font-family: AvenirMedium;
  src: local("Avenir-Medium") url("/fonts/Avenir-Medium.otf") format("otf");
}

/* .book {
  font-family: AvenirBook;
}

.roman {
  font-family: AvenirRoman;
}

.medium {
  font-family: AvenirMedium;
} */
